<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div><!-- class="row justify-content-center" -->
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="javascript:void(0)">
                    <img src="./assets/img/theme/test.png" class="rounded-circle">
                  </a>
                </div>
              </div>
              <div class="col-lg-3 order-lg-2"></div>
              <div class="col-lg-4 order-lg-1"></div>
            </div><br><br><br><br><br>
            <div style="padding-left: 2%;padding-bottom: 3%;padding-top: 4%;">
              <p style="font-family:'Segoe UI', Tahoma, Geneva;font-size: x-large;padding-left: 30%;">All Users</p>
                <table class="table-responsive" style="border-collapse: separate;border-spacing: 10px;">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">E-Mail</th>
                          <th scope="col">Password</th>
                          <th scope="col" style="text-align: center;">Action</th>
                      </tr>
                  </thead>
                  <tbody style="padding-top: 4%;">
                      <tr *ngFor="let book of Books; let i = index">
                          <th scope="row">{{book.id}}</th>
                          <td style="padding: 15px;">{{book.name}}</td>
                          <td style="padding: 15px;">{{book.price}}</td>
                          <td style="padding: 15px;">{{book.description}}</td>
                          <td style="padding: 15px;">
                              <button type="button" class="btn btn-danger"  (click)="delete(book.id,i)">Delete</button>
                          </td>
                      </tr> 
                  </tbody>
                </table>
              </div>
            <div class="text-center mt-4" style="padding-left: 3%;padding-bottom: 3%;padding-top: 4%;width: 73%;">
              <button (click)="showForm = !showForm" class="btn btn-primary" style="padding-bottom: 2%;height: 40px; width: 170px"> Add new activity</button>
              <br><br><br>
              <form *ngIf="showForm" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
                <div class="form-group" >
                    <label   class="form-label">Name :</label>
                    <div class="input-group input-group-alternative">
                      <input type="text" class="form-control" rows="3" formControlName="name" required>
                    </div>
                  </div>
                  <div class="form-group" >
                    <label   class="form-label" for="type">Type of activity :</label>
                    <div class="input-group input-group-alternative">
                        <select class="form-control" id="type" formControlName="type" name="type" required>
                            <option value="scolaire">Scolaire</option>
                            <option value="parascolaire">Para-scolaire</option>
                          </select>
                    </div>
                  </div>
                <div class="form-group" >
                    <label   class="form-label">Description :</label>
                    <div class="input-group input-group-alternative">
                      <textarea type="text" class="form-control" rows="3" formControlName="description" required></textarea>
                    </div>
                  </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <img src="../../assets/img/theme/add_user.jfif" width="10%">
                  </div>
              </form>


              </div> 
              </div> 

            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
              </div>
            </div>
          </div>
    </section>
  </main>
  
  