.my-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fc-day-header {
  background-color: blue;
  color: white;
}

.fc-scrollgrid-container {
  font-size: 0.8rem;
  height: 400px;
  width: 100%;
}
