.my-calendar {
  margin: auto;
  max-width: 50%;
}
.my-calendar .fc button {
  background-color: rgb(16, 16, 120);
}
.my-calendar .fc-today-button.fc-button-primary {
  background-color: #fa6340;
}
.my-calendar .fc-event-title.fc-sticky {
  white-space: normal;
  height: auto;
  text-align: center;
  background-color: #fa6340;
}
.fc-toolbar-title {
  color: #fa6340;
  font-style: italic;
  font-size: medium;
}
.fc-event.fc-event-start.fc-event-end.fc-daygrid-event.fc-daygrid-block-event.fc-h-event {
  border-color: #fa6340;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.align-items-center {
  display: flex;
  align-items: center;
}

