.my-calendar {
  margin: auto;
  max-width: 800px;
}

.fc-toolbar {
  background-color: #2256be;
  color: white;
  border: none;
}

.fc-day-header {
  color: white;
}
.fc-event {
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
}
