.my-calendar {
  margin: auto;
  max-width: 800px;
}

div.my-calendar .fc-toolbar {
  color: red;
  border: none;
}

div.my-calendar .fc-day-header {
  color: red;
}
div.my-calendar .fc-event-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}