/*.form-message {
    max-height: 200px;
    overflow-y: auto;
  }
  
  .form-message .dropdown-header {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #4e73df;
    letter-spacing: 1px;
  }
  .form-message .dropdown-item {
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .form-message .dropdown-item:hover {
    background-color: #f8f9fc;
  }
  
  .form-message .dropdown-list-image img {
    width: 40px;
    height: 40px;
  }
  
  .form-message .dropdown-list-image .status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
  }
  
  .form-message .dropdown-list-image .status-indicator.online {
    background-color: #1cc88a;
  }
  
  .form-message .dropdown-list-image .status-indicator.offline {
    background-color: #e74a3b;
  }
  
  .form-message .font-weight-bold {
    font-weight: 600;
  }
  
  .form-message .text-gray-500 {
    color: #858796;
    font-size: 12px;
  }
  
  .form-message .text-truncate {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  

  .message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .message-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #ccc;
  }
  
  .message-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .message-card p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 10px 0;
  }
  
  .message-card small {
    font-size: 1rem;
    color: #777;
    margin-top: 10px;
  }*/
  .message-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .message-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .message-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #fa6340;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px #fa6340;
    width: calc(50% - 5px);
  }
  
  .message-item h2 {
    font-size: 1.2rem;
    margin: 0 0 5px;
  }
  
  .message-item p {
    font-size: 1rem;
    line-height: 1.2;
    margin: 5px 0;
  }
  
  .message-item small {
    font-size: 0.8rem;
    color: #777;
  }
  