<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div><!-- class="row justify-content-center" -->
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="javascript:void(0)">
                    <img src="./assets/img/theme/test.png" class="rounded-circle">
                  </a>
                </div>
              </div>
              <div class="col-lg-3 order-lg-2"></div>
              <div class="col-lg-4 order-lg-1"></div>
            </div><br><br><br><br><br>
            <div style="padding-left: 2%;padding-bottom: 3%;padding-top: 4%;">
              <p style="font-family:'Segoe UI', Tahoma, Geneva;font-size: x-large;padding-left: 38%;">All Students</p>
                <table class="table-responsive" style="border-collapse: separate;border-spacing: 10px;">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">First Name</th>
                          <th scope="col">Last Name</th>
                          <th scope="col">Age</th>
                          <th scope="col">Guardian</th>
                          <th scope="col">Kind of disease</th>
                          <th scope="col">School year</th>
                          <th scope="col" style="text-align: center;">Action</th>
                      </tr>
                  </thead>
                  <tbody style="padding-top: 4%;">
                      <tr *ngFor="let enfant of Enfants; let i = index">
                          <th scope="row">{{enfant.id}}</th>
                          <td style="padding: 15px;">{{enfant.fname}}</td>
                          <td style="padding: 15px;">{{enfant.lname}}</td>
                          <td style="padding: 15px;">{{enfant.age}}</td>
                          <td style="padding: 15px;">{{enfant.Parent}}</td>
                          <td style="padding: 15px;">{{enfant.maladie}}</td>
                          <td style="padding: 15px;">{{enfant.annee}}</td>
                          <td style="padding: 15px;">
                              <button type="button" class="btn btn-danger"  (click)="delete(enfant.id,i)">Delete</button>
                              <button type="button" class="btn btn-success" routerLink="/edit-child/{{enfant.id}}">Edit</button>
                          </td>
                      </tr> 
                  </tbody>
                </table>
              </div>
            <div class="text-center mt-4" style="padding-left: 3%;padding-bottom: 3%;padding-top: 4%;width: 90%;">
              <button (click)="showForm = !showForm" class="btn btn-primary" style="padding-bottom: 2%;height: 40px; width: 200px;">Add new student</button>
              <br><br><br>
              <form *ngIf="showForm" [formGroup]="enfantForm" (ngSubmit)="onSubmit()" >
                <!-- <div class="form-group mb-3" >
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Name" type="text" formControlName="title">
                  </div>
                </div>
                <div class="form-group" >
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Price" type="text" formControlName="price">
                  </div>
                </div>
                <div class="form-group" >
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Description" type="text" formControlName="description">
                  </div>
                </div>
               
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4">Add</button>
                </div>
                <div *ngIf="bookForm.value">
                  <p>{{ bookForm.value.name }}</p>
                  <p>{{ bookForm.value.email }}</p>
                  <p>{{ bookForm.value.password }}</p>
                </div>
                <button type="submit" (click)="onSubmit()">Add</button><div *ngIf="message">{{message}}</div> -->



                <div class="form-group mb-3" >
                  <label class="form-label">First Name : </label>
                  <div class="input-group input-group-alternative">
                    <input type="text" class="form-control" formControlName="fname" required >
                  </div>
                </div>
                <div class="form-group" >
                  <label class="form-label">Last Name : </label>
                  <div class="input-group input-group-alternative">
                    <input type="text" class="form-control" formControlName="lname" required>
                  </div>
                </div>
                <div class="form-group" >
                    <label class="form-label">Age :</label>
                    <div class="input-group input-group-alternative">
                      <input type="number" class="form-control" formControlName="age" required>
                    </div>
                  </div>
                  <div class="form-group" >
                    <label class="form-label">Guardian :</label>
                    <div class="input-group input-group-alternative">
                      <input type="text" class="form-control" formControlName="Parent" required>
                    </div>
                  </div>
                  <div class="form-group" >
                    <label class="form-label">Kind of disease : </label>
                    <div class="input-group input-group-alternative">
                      <input type="text" class="form-control" formControlName="maladie" required>
                    </div>
                  </div>
                <div class="form-group" >
                  <label   class="form-label" for="annee">School year :</label>
                  <div class="input-group input-group-alternative">
                    <select class="form-control" id="type" formControlName="annee" name="annee" required>
                      <option value="scolaire">2019/2020</option>
                      <option value="scolaire">2020/2021</option>
                      <option value="scolaire">2021/2022</option>
                      <option value="scolaire">2022/2023</option>
                      <option value="scolaire">2023/2024</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn btn-primary">Add</button>
                  <img src="../../assets/img/theme/student.png" width="10%">
                </div>



                <!-- <div class="mb-3">
                    <label class="form-label">Name  </label>
                    <input type="text" class="form-control" formControlName="name" required >
                </div>
                <div class="mb-3">
                    <label class="form-label">Price </label>
                    <input type="text" class="form-control" formControlName="price" required>
                </div>
                <div class="mb-3">
                    <label   class="form-label">Example textarea</label>
                    <textarea class="form-control" rows="3" formControlName="description" ></textarea>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div> -->
                

              </form> 
              </div> 
              </div> 

            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
              </div>
            </div>
          </div>
    </section>
  </main>
  