<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center"> 
                </div>
              </div>
            </div>
            <div class="text-center mt-4">
              <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                <div>
                  <label for="name">Name:</label>
                  <input type="text" id="name" formControlName="name">
                </div>
                <div>
                  <label for="email">Email:</label>
                  <input type="email" id="email" formControlName="email">
                </div>
                <div>
                  <label for="password">Password:</label>
                  <input type="password" id="password" formControlName="password">
                </div>
                <div *ngIf="formData.value">
                  <p>{{ formData.value.name }}</p>
                  <p>{{ formData.value.email }}</p>
                  <p>{{ formData.value.password }}</p>
                </div>
                <button (click)="showData()">Add</button><div *ngIf="message">{{message}}</div>
              </form>
              
  
              















              
             
            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  